<h1>{{ title }}</h1>
<button>toggle form</button><br/><br/>
<div *ngIf="display">
  <form #basicForm="ngForm" (ngSubmit)="getData(basicForm.value)">
    <input
      type="text"
      ngModel
      name="username"
      placeholder="Enter Username"
    /><br /><br />
    <input
      type="text"
      ngModel
      name="email"
      placeholder="Enter Email"
    /><br /><br />
    <input
      type="text"
      ngModel
      name="password"
      placeholder="Enter Password"
    /><br /><br />
    <button>Register</button>
  </form>
</div>

<ul *ngFor="let user of userData">
  <li>{{ user.username }}</li>
  <li>{{ user.email }}</li>
  <li>{{ user.password }}</li>
</ul>

<mat-slider min="1" max="100" step="1" value="100"></mat-slider>

