<h1>{{ title }}</h1>
<!-- <app-form></app-form> -->
<input type="text" placeholder="Enter Task" #task><br /><br />
<button (click)="addTask(task.value)">Add Task</button>
<ol>
  <li *ngFor="let task of userTasks">{{task.name}} <button (click)="deleteTask(task.id)">Delete</button></li>
</ol>

<app-widget [item]="data"></app-widget>
<button (click)="random()">Update value</button>


<!-- <input type="number" #input (keyup)="load(input.value)" placeholder="enter text"/>
<p>input value added by 5 is :{{value}}</p>
<div [ngSwitch]="color">
  <h1 style="color:red" *ngSwitchCase="'red'">Red color</h1>
  <h1 style="color:green" *ngSwitchCase="'green'">green color</h1>
  <h1 *ngSwitchDefault>Black color</h1>
</div>

<label for="input">Type something:</label>
<input id="input" #customerInput ng-model="name">
<h4>{{name}}</h4>

//expression calculates colspan=2
<tr><td [attr.colspan]="10 + 5">One-Two</td></tr>

<p>The hero's birthday is {{ birthday | date | uppercase}}</p>

<h2>Example 2</h2>
<input type="text" name="value" [(ngModel)]="named">
<p> You entered {{named}}</p>
<button (click)="clearValue()">Clear</button> -->

